.footerContent {
  margin-top: 80px;
  margin-left: -150px;
  margin-right: -150px;
  background: #777;
  padding: 20px 135px 20px 135px;
  font-family: 'Uchen';
}

.contact {}

.contactDetails {
  display: flex;
  span {
    margin: 5px;
    cursor: pointer;
  }
}